{% extends 'base.html.twig' %}

{% block title %}Asignar Empresa{% endblock %}

{% block body %}
    <div class="container">
        <div class="row h-50 justify-content-center align-items-center">
            <div class="col-4 rounded my-1 p-2 bg-light text-dark">
                <h1>Asignar Empresa</h1>
                {{ include('asignar_empresa/_form.html.twig', {'button_label': 'Asignar'}) }}
                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{{ path('app_asignar_empresa_index') }}">Atras</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
