<form method="post" action="{{ path('app_empresa_delete', {'id': empresa.id}) }}" onsubmit="return confirm('¿Esta seguro que desea elimar el banco con id: {{ empresa.id }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empresa.id) }}">
    <button class="btn btn-primary">Eliminar</button>
</form>
